$--color-cate-home: #ff1f45;
$--color-cate-live: #ff584a;
$--color-cate-vod: #387dff;
$--color-cate-clip: #fd8163;
$--color-cate-movie: #7d57fc;
$--color-cate-kids: #ffc031;

@import "common.scss";
@import "header.scss";
@import "main.scss";
